.project-details {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: start;
    grid-gap: 60px;
}


/* project summary */

.project-summary {
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
}

.project-summary .due-date {
    margin: 10px 0;
    font-size: 0.9em;
    color: var(--title-color);
}

.project-summary .page-title {
    font-size: 30px;
    line-height: 35px;
    color: var(--primary-color);
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1rem 0;
}

.dueDate {
    font-size: 15px;
    color: var(--text-color);
}

.dueDate .inner {
    color: #000;
}

.category-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-summary .users-wrapper {
    display: flex;
    justify-content: flex-start;
}

h4 {
    text-transform: capitalize;
    padding: 0 1rem 0 0;
}

.project-summary .users-wrapper .user {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 1rem 1rem 0;
}

.user .user-name {
    padding: 0 8px 0 0px;
    font-size: 14px;
}

.project-summary .details {
    margin: 30px 0;
    color: var(--text-color);
    line-height: 1.8em;
    font-size: 0.9em;
}

.project-summary h4 {
    color: var(--text-color);
    font-size: 0.9em;
}

.project-summary .assigned-users {
    display: flex;
    margin-top: 20px;
}

.project-summary .assigned-users .avatar {
    margin-right: 10px;
}

.project-summary+.btn {
    margin-top: 20px;
}

.created-by {
    padding: 1rem 0 2rem 0;
}

.ceartion-date {
    font-size: 14px;
    display: inline-block;
}


/* project comments */

.project-comments label {
    margin-bottom: 0px;
}

.project-comments textarea {
    min-height: 40px;
    font-size: 1.5em;
}